@import './base.css';

html,
main,
body,
#app {
  margin: 0;
  padding: 0;
  /* background-color: #eee; */
  /* background-color: #96bcf1b0; */
  /* color: #000; */
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
a {
  position: relative;
  text-decoration: none;
  color: black;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
@media (max-width: 768px) {
  ul {
    padding-left: 1.25rem;
  }
}
